/* colors */
:root {
    --primary-bg: #F56B3F;
    --secondary-bg: #d0efff;
    /* --accent-bg: #0071D4; */
    --accent-bg: #2A5DDE;
    --primary-text: #2A5DDE;
    --secondary-text: gray;
    --accent-text: #fff;
}